html {
    font-family: sans-serif;
    font-size: 14px;
}

table {
    border-collapse: collapse;
    font-family: Tahoma, Geneva, sans-serif;
    width: 100%;
}

th, td {
    border: 1px solid lightgray;
    padding: 15px;
}

td {
    color: #636363;
}

tbody tr {
    background-color: #f9fafb;
}

tbody tr:nth-child(odd) {
    background-color: #ffffff;
}
